.eventUploads {
	display: flex;
	flex-direction: column;
	border-radius: var(--style-radius-m);
	background: var(--theme-elevation-50);
	padding: calc(var(--base) * 0.5) calc(var(--base) * 0.75);
	gap: calc(var(--base) * 0.5);

	.title {
		font-size: 16px;
	}

	.uploadActions {
		display: flex;
		align-items: center;
		gap: calc(var(--base) / 4);

		.uploadAction {
			display: flex;
			align-items: center;
			gap: calc(var(--base) / 4);
		}
	}
}
