.dateRange {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  input[type=date].dateInput {
    padding: 0.4em 1em;
    border: 1.5px solid #dee2e6;
    border-radius: 6px;
    min-width: 120px;
  }
}
