.syncEvents {
  .syncAnimation {
    -webkit-animation: rotating 1.25s linear infinite;
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
