.filterForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: var(--color-slate-100);
  border-radius: 0.25rem;
  border: 1px solid var(--color-slate-200);

  transition: border 0.2s ease;

  &:has(.legendButton:hover) {
    border: 1px solid var(--color-slate-300);
  }

  &.collapsed {
    margin-bottom: 0.5rem;
    gap: 0;
  }

  .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;

    &.collapsed {
      margin-bottom: 0;

      .legend {
        margin-bottom: 0;
      }
    }

    .legend {
      font-size: 0.875rem;
      font-weight: 600;
      padding: 0;
      user-select: none;
      width: 100%;

      .legendButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: none;
        padding: 0.875rem 1.5rem;
        background: transparent;
        color: var(--color-slate-600);
        font: inherit;
        cursor: pointer;

        &.collapsed {
          color: var(--color-slate-500);
        }
      }

      .toggleIcon {
        width: 1.1rem;
        height: 1.1rem;
        color: var(--color-slate-600);
        //transition: transform 0.2s ease;
        //display: inline-block;

        &.collapsed {
          //transform: rotate(-90deg);
          color: var(--color-slate-500);
        }
      }
    }

    .filterContent {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0.5rem 1.5rem;
      gap: 1rem;
    }
  }

  .controlButtons {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1.5rem;

    button.applyFiltersButton {
      background: var(--color-rose-500);
      color: var(--color-rose-50);
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-size: 0.825rem;
      font-weight: 500;
      cursor: pointer;
      border: 1px solid transparent;
    }

    button.clearFiltersButton {
      background: var(--color-bg);
      color: var(--color-slate-700);
      border: 1px solid var(--color-border);
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-size: 0.825rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
