.filterForm {
  display: flex;
  gap: 1rem;
  margin: 1em 0 2em 0;
  //flex-wrap: wrap;
  flex-direction: column;
  //align-items: start;

  .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;

    legend {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 1.3rem;
      margin-top: 0.5rem;
      padding: 0;
      color: var(--accent2);
    }
  }

  .controlButtons {
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: center;

    button.applyFiltersButton {
      background: #28a745;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-size: 1.08rem;
      font-weight: 500;
      cursor: pointer;
      border: 1px solid transparent;
    }

    button.clearFiltersButton {
      background: #ffffff;
      color: #495057;
      border: 1px solid #dee2e6;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-size: 1.08rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
