.calendarContainer {
  .calendarMonthYear {
    font-family: 'Staatliches', 'Segoe UI', 'Arial', sans-serif;
    color: #1e2a36;
    letter-spacing: 0.04rem;
    text-align: center;
    font-size: 2.4rem;
    margin: 0.4rem 0 0.8rem 0;
  }

  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    max-width: 900px;
    margin: 0 auto;
    background: #ddd;
    border: 1px solid #ddd;

    .dayHeader {
      background: #f0f0f0;
      padding: 12px;
      text-align: center;
      font-weight: bold;
    }

    .calendarGridDays {
      grid-column: 1 / -1;
      display: contents;

      .calendarCell {
        background: #fff;
        padding: 5px;
        min-height: 125px;
        border: 1px solid #eee;
        position: relative;

        .dayNumber {
          //font-size: 1rem;
          font-size: 0.8rem;
          padding: 0.1rem 0 0.2rem 0;
          text-align: center;
        }

        .events {
          //position: absolute; top: 4px; left: 4px; right: 4px;

          .event {
            font-size: 0.625rem;
            background: #1976d2;
            color: white;
            padding: 1px 3px;
            margin: 1px 0;
            border-radius: 2px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .controlsInfo {
    text-align: center;
    margin-bottom: 1em;
    font-size: 0.9em;
    color: #6c757d;
  }

  .detailsInfo {
    margin-top: 1em;
    text-align: center;
  }
}
