.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .eventsView {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    .viewTabs {
      display: flex;
      align-items: start;
      width: 100%;
      background: var(--color-primary-50);
      position: relative;
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: 2px solid var(--color-primary-700);

      .viewTab {
        padding: 1rem 1.5rem;
        cursor: pointer;
        text-decoration: none;
        color: var(--color-primary-700);
        border-radius: 0.25rem 0.25rem 0 0; // 4px

        &.active {
          background: var(--color-primary-700);
          color: var(--color-slate-50);
        }
      }
    }
  }
}

