@use "@/styles/colors" as *;
@use "@/styles/variables" as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
}

.section {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.sectionLabel {
		font-size: $font-size-xl;
		color: $color-primary-600;
		user-select: none;
		margin-bottom: 0.5rem;
		width: 100%;
	}
}

.fieldset {
	padding: 0.75rem 0.5rem;
	border: 1px solid $color-slate-300;
	border-radius: $border-radius-sm;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.legend {
		font-size: $font-size-sm;
		color: $color-slate-600;
		padding: 0 0.5em;
	}

	.description {
		font-size: $font-size-sm;
		color: $color-slate-500;
		margin-bottom: 0.5rem;
		padding: 0 0.5em;
	}
}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
	color: $color-slate-700;

	.label {
		font-size: $font-size-sm;
		color: $color-slate-600;
	}

	.content {
		color: $color-slate-700;
	}

	&.inputWrapper {
		flex-direction: column;
		gap: 0.5rem;

		.label {
			font-size: $font-size-sm;
			color: $color-slate-600;
		}

		.input {
			width: 100%;
			padding: 0.5em;
			border: 1.5px solid $color-slate-200;
			border-radius: $border-radius-sm;
			font-size: 1rem;
			box-sizing: border-box;
			background: $color-slate-100;
			color: $color-text;
			transition: border-color 0.2s, background-color 0.2s;
			font-family: inherit;

			&:focus {
				outline: none;
				border-color: $color-slate-400;
				background: $color-slate-50;
			}
		}

		textarea.input {
			min-height: 100px;
			resize: vertical;
		}
	}

	&.checkboxWrapper,
	&.radioWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5em;

		.label {
			color: $color-slate-800;
			font-size: $font-size-md;
			order: 2;
			cursor: pointer;
		}

		.content {
			display: flex;
			order: 1;
		}

		.input {
			position: absolute;
			opacity: 0;

			&:focus-visible + .customCheckbox,
			&:focus-visible + .customRadio {
				outline: 2px solid black;
			}

			& + .customCheckbox,
			& + .customRadio {
				border: 1px solid $color-slate-500;
				min-width: 1em;
				width: 1em;
				height: 1em;
				display: inline-block;
				position: relative;
				margin-left: 5px;
				margin-bottom: 1px;
				cursor: pointer;
				transition: 0.1s;

				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(0.75);
					opacity: 0;
					width: 0.7rem;
					height: 0.7rem;
					background-color: $color-secondary-500;
					transition: 0.1s;
				}
			}

			& + .customCheckbox {
				border-radius: $border-radius-sm;

				&::after {
					border-radius: $border-radius-sm;
				}
			}

			& + .customRadio {
				border-radius: 50%;

				&::after {
					border-radius: 50%;
				}
			}

			&:checked + .customCheckbox,
			&:checked + .customRadio {
				border: 1px solid $color-secondary-500;
			}

			&:checked + .customCheckbox:after,
			&:checked + .customRadio:after {
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
		}
	}
}

.button {
	background: $color-primary-700;
	color: $color-primary-50;
	border: none;
	border-radius: $border-radius;
	padding: 1rem 2rem;
	font-size: $font-size-md;
	cursor: pointer;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
	transition: background 0.2s, color 0.2s;
	width: fit-content;

	&:disabled {
		cursor: not-allowed;
	}

	&:hover:not(:disabled) {
		background: $color-primary-800;
		color: $color-primary-100;
	}
}
