.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .eventsView {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    .viewTabs {
      display: flex;
      align-items: start;
      width: 100%;
      background: #edf9f8;
      position: relative;
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: 2px solid var(--accent2);

      .viewTab {
        padding: 1rem 1.5rem;
        cursor: pointer;
        text-decoration: none;
        color: var(--accent2);
        border-radius: 0.25rem 0.25rem 0 0; // 4px

        &.active {
          background: var(--accent2);
          color: white;
        }
      }
    }
  }
}

.month {
  // Temporarily unset global styles
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;

  // Actual styles
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
  //align-items: center; // If we still want to center the month controls

  .monthControls {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;

    .navButton {
      background: var(--accent2);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1.4rem;
      padding: 0.25rem 0.5rem;
    }

    .currentMonthInput {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
      border: 2px solid #dee2e6;
      border-radius: 6px;
      padding: 0.5em 1em;
      min-width: 200px;
      background: #f8f9fa;
    }
  }

  .controlsInfo {
    font-size: 0.875rem;
    color: #6c757d;
  }
}
