.opportunityList {
  max-width: 700px;
  background: #fff;
  margin: 0 auto;
  //margin: 0 auto 3em auto;
  //border-radius: 12px;
  //box-shadow: 0 4px 24px rgba(0,0,0,0.11);
  //padding: 2em 1.5em;
}
