.month {
  // Temporarily unset global styles
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;

  // Actual styles
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;

  .monthControls {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;

    .navButton {
      background: var(--color-primary-700);
      color: var(--color-primary-50);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1.4rem;
      padding: 0.25rem 0.5rem;
    }

    .currentMonthInput {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
      border: 2px solid var(--color-border);
      border-radius: 6px;
      padding: 0.5em 1em;
      min-width: 200px;
      background: var(--color-bg);

      &.error {
        background-color: var(--color-rose-50);
        border-color: var(--color-rose-600);
      }
    }
  }

  .controlsInfo {
    font-size: 0.875rem;
    color: var(--color-text-muted);
  }

  .errorMessage {
    position: absolute;
    background: var(--color-rose-600);
    color: var(--color-slate-50);
    padding: 0.5em 1em;
    borderRadius: 4px;
    fontSize: 0.85em;
    marginTop: 0.5em;
    zIndex: 1000;
    left: 50%;
    transform: translateX(-50%);
    whiteSpace: nowrap;
  }
}
