.filterForm {
  display: flex;
  gap: 2em;
  align-items: center;
  margin: 1em 0 2em 0;
  flex-wrap: wrap;

  .filters {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .controlButtons {
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: center;

    button.applyFiltersButton {
      background: #28a745;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-size: 1.08rem;
      font-weight: 500;
      cursor: pointer;
    }

    button.clearFiltersButton {
      background: #f8f9fa;
      color: #495057;
      border: 1px solid #dee2e6;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      font-size: 1.08rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
