@use "@/styles/colors" as *;
@use "@/styles/variables" as *;

.home {
	display: flex;
	flex-direction: column;
	align-items: center;

	.content {
		display: flex;
		flex-direction: column;
		max-width: 48rem;

		.logoContainer {
			text-align: center;
			margin-bottom: 1rem;

			.logoImage {
				max-height: 20vh;
				width: auto;
			}
		}

		.heading {
			font-size: $font-size-4xl;
			margin-bottom: 1rem;
			text-align: center;
		}

		.about {
			font-size: $font-size-base;
			line-height: 2;
			width: 100%;
			margin-bottom: 1rem;

			.eventsLink {
				display: inline-flex;
				color: $color-primary-500;
				font-size: $font-size-base;
				text-decoration: underline;
				white-space: nowrap;
				padding: 0 0.5rem;
				background: $color-primary-100;
				transition: background 0.2s;
				text-transform: capitalize;

				&:hover {
					color: $color-primary-600;
				}
			}
		}

		.objectives {
			background: $color-slate-100;
			width: 100%;
			padding: 2rem;
			border-radius: $border-radius;
			border: 1px solid $color-slate-200;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

			.objectivesTitle {
				margin-bottom: 0.5em;
			}

			.objectivesList {
				display: flex;
				flex-direction: column;
				gap: 0.5em;
				list-style: none;
				line-height: 1.6;

				.objectivesItem {
					padding: 0 0 0 1em;
					position: relative;

					.objectivesBullet {
						position: absolute;
						left: 0;
						color: $color-primary-500;
					}
				}
			}
		}
	}
}
