.heading {
  font-family: 'Staatliches', 'Segoe UI', 'Arial', sans-serif;
  color: var(--accent2);
  letter-spacing: 0.02em;
}

h1.heading {
  font-size: 2.2em;
  margin-bottom: 0.4em;
}

h2.heading {
  font-size: 1.4em;
  //margin-top: 1.7em;
  color: var(--accent2);
}
