{$DOMAIN_PRIMARY} {
	reverse_proxy /* website:3000
}

{$DOMAIN_SECONDARY} {
	redir {$DOMAIN_PRIMARY}{uri} permanent
}

www.{$DOMAIN_PRIMARY},
www.{$DOMAIN_SECONDARY} {
	redir https://{$DOMAIN_PRIMARY}{uri} permanent
}
