.dateRange {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  input[type=date].dateInput {
    padding: 0.4em 1em;
    border: 1.5px solid var(--color-border);
    border-radius: 6px;
    min-width: 120px;
  }
}

@media (max-width: 1100px) {
  .dateRange {
    flex-direction: column;
    align-items: start;
    //justify-content: start;

    .separator {
      display: none;
    }
  }
}
