selectedActivities.opportunityItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.2em;
}

.opportunityImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1.2em;
  background: #eee;
}

.opportunityOrg {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.opportunityActivities {
  margin: 0.25em 0 0 1.2em;
  padding-left: 1em;
  list-style: circle;
}

.orgLink {
  font-size: 1em;
  display: inline-block;
  margin-top: 0.5em;
  color: #0a7;
  text-decoration: underline;
}

.noOppsMsg {
  text-align: center;
  color: #555;
  margin: 2em 0 1em 0;
  font-size: 1.1em;
}
